# Linux General
*~

# KDE directory preferences
.directory

# MacOS General
.DS_Store

# MacOS Thumbnails
._*

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable

# Windows Folder config file
[Dd]esktop.ini

# Dependencies
dependencies/**/*.ZIP
dependencies/**/*.zip
dependencies/**/*.tgz
dependencies/sapjco/sapjco*/
dependencies/sapjco/current
dependencies/sapjco/current/*

# Configuration Profiles
configuration/enabled/*